<div class="header" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt.sm="space-between " fxLayoutAlign="space-between center">
    <a routerLink="['']">
        <img src="../../../assets/logo.png" class="logo">
    </a>
    <button mat-button color="accent" [matMenuTriggerFor]="entrega">Entregar em {{localEntrega.local}}</button>
    <div class="botoes" fxLayout="row" fxLayout.lt-sm="column">
        <button mat-button color="accent" fxHide.lt-sm>
            <mat-icon>search</mat-icon>
            <span>Pesquisar</span>
        </button>
        <button mat-button color="accent" fxHide.lt-sm>
            <mat-icon>person</mat-icon>
            <span fxHide.lt-md>Perfil</span>
        </button>
        <button mat-button (click)="abrirCarrinho()" color="accent" fxHide.lt-sm>
            <mat-icon [matBadge]="carrinho.quantidadeItens" matBadgeColor="accent" matBadgePosition="below before" >shopping_cart</mat-icon>
            <span fxHide.lt-md>Carrinho</span>
        </button>
    </div>

</div>
<mat-menu #entrega="matMenu">
    <mat-progress-bar *ngIf="!locaisEntrega" mode="indeterminate"></mat-progress-bar>
    <button *ngFor="let local of locaisEntrega" mat-menu-item (click)="mudarEntrega(local)">{{local.local}}</button>
</mat-menu>